DATABASE_URL="file:./dev.db"

NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="your-super-secret-key"

SMS_API_KEY=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# بيانات حساب المدير الافتراضي (يجب تعبئتها بقيم قوية وحقيقية في ملف .env ولا تتركها فارغة)
SEED_ADMIN_PASSWORD=""
SEED_ADMIN_PHONE=""


NEXT_PUBLIC_CURRENCY_SYMBOL="$"
