DATABASE_URL="file:./dev.db"

NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="your-super-secret-key"

SMS_API_KEY=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SEED_ADMIN_PASSWORD="admin123"
SEED_ADMIN_PHONE="0000000000"

